<template>
  <el-row :gutter="15">
    <el-col :span="16">
      <analysis-chart />
    </el-col>
    <el-col :span="8">
      <analysis-stock-info-panel />
    </el-col>
  </el-row>
</template>

<script>
import AnalysisChart from './AnalysisChart';
import AnalysisStockInfoPanel from './AnalysisStockInfoPanel';

export default {
  components: { AnalysisChart, AnalysisStockInfoPanel },
};
</script>
