<template>
  <el-card class="box-card">
    <div slot="header">
      <strong>Stock Info</strong>
    </div>

    <el-form label-position="top" ref="stockForm" :model="stockForm" :rules="formRules">
      <el-form-item label="Stock Type">
        <el-select v-model="stockForm.type" placeholder="twse or otc" style="width: 100%;">
          <el-option label="上市" value="twse"></el-option>
          <el-option label="上櫃" value="otc"></el-option>
        </el-select>
      </el-form-item>
      <stock-rx-select @select="rxSelectedStock" />
      <el-form-item label="Date Range" prop="dateRange">
        <el-date-picker
          v-model="stockForm.dateRange"
          type="daterange"
          start-placeholder="start date"
          end-placeholder="end date"
          style="width: 100%;"
          value-format="yyyy-MM-dd">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button v-loading="isLoading" type="primary" @click="getStockInfo()">Submit</el-button>
      </el-form-item>
    </el-form>
  </el-card>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import StockRxSelect from '../../Shared/StockRxSelect';

export default {
  name: 'AnalysisStockInfoPanel',
  components: { StockRxSelect },
  data() {
    return {
      stockForm: {
        type: 'twse',
        dateRange: [],
        selectedStock: '',
      },
      formRules: {
        selectedStock: [
          { required: true, message: '請選擇股票', trigger: 'blur' },
        ],
        dateRange: [
          { type: 'array', required: true, message: '請選擇日期區間', trigger: 'change' },
        ],
      },
    };
  },
  computed: {
    ...mapState('stockInfo', {
      isLoading: state => state.stockLoading,
    }),
  },
  methods: {
    ...mapActions('stockInfo', [
      'getStockPrice',
    ]),
    rxSelectedStock(value) {
      this.stockForm.selectedStock = value;
    },
    getStockInfo() {
      this.$refs.stockForm.validate((valid) => {
        if (valid) {
          const stockData = {
            type: this.stockForm.type,
            number: this.stockForm.selectedStock,
            fromDate: this.stockForm.dateRange[0],
            toDate: this.stockForm.dateRange[1],
          };
          this.getStockPrice(stockData);
        } else {
          // eslint-disable-next-line
          console.log('error submit!!');
          return false;
        }
        return valid;
      });
    },
  },
};
</script>
