<template>
  <el-card class="box-card">
    <div id="mychart"></div>
    <div id="slider"></div>
  </el-card>
</template>

<script>
import G2 from '@antv/g2';
import DataSet from '@antv/data-set';
import Slider from '@antv/g2-plugin-slider';
import { mapState } from 'vuex';

export default {
  name: 'AnalysisChart',
  data() {
    return {
      chart: null,
      slider: null,
    };
  },
  mounted() {
    this.drawChart();
  },
  computed: {
    ...mapState('stockInfo', {
      stockDataSet: state => state.stockDataSet,
    }),
  },
  watch: {
    stockDataSet() {
      this.drawChart();
    },
  },
  methods: {
    drawChart() {
      /* eslint-disable */
      if(!this.stockDataSet.length) {
        return;
      }

      if (this.chart) {
        this.chart.destroy();
        this.slider.destroy();
      }
      const data = this.stockDataSet;
      const ds = new DataSet({
        state: {
          start: this.stockDataSet[0].time,
          end: this.stockDataSet[this.stockDataSet.length - 1].time,
        },
      });
      const dv = ds.createView();
      dv.source(data)
        .transform({
          type: 'filter',
          callback: (obj) => {
            const date = obj.time;
            return date <= ds.state.end && date >= ds.state.start;
          },
        })
        .transform({
          type: 'map',
          callback: (obj) => {
            obj.trend = (obj.start <= obj.end) ? '上漲' : '下跌';
            obj.range = [obj.start, obj.end, obj.max, obj.min];
            return obj;
          },
        });
      this.chart = new G2.Chart({
        container: 'mychart',
        forceFit: true,
        // height: window.innerHeight - 200,
        height: 500,
        animate: true,
        padding: [10, 40, 40, 40],
      });
      this.chart.source(dv, {
        'time': {
          type: 'timeCat',
          nice: false,
          range: [0, 1],
        },
        trend: {
          values: ['上漲', '下跌'],
        },
        'volumn': { alias: '成交量' },
        'start': { alias: '開盤價' },
        'end': { alias: '收盤價' },
        'max': { alias: '最高價' },
        'min': { alias: '最低價' },
        'range': { alias: '股票價格' },
      });
      this.chart.legend({
        offset: 20,
      });
      this.chart.tooltip({
        showTitle: false,
        itemTpl: '<li data-index={index}>'
        + '<span style="background-color:{color};" class="g2-tooltip-marker"></span>'
        + '{name}{value}</li>',
      });

      const kView = this.chart.view({
        end: {
          x: 1,
          y: 0.5,
        },
      });
      kView.source(dv);
      kView.schema()
        .position('time*range')
        .color('trend', val => {
          if (val === '上漲') {
            return '#f04864';
          }

          if (val === '下跌') {
            return '#2fc25b';
          }
        })
        .shape('candle')
        .tooltip('time*start*end*max*min', (time, start, end, max, min) => {
          return {
            name: time,
            value: '<br><span style="padding-left: 16px">開盤價：' + start + '</span><br/>'
            + '<span style="padding-left: 16px">收盤價：' + end + '</span><br/>'
            + '<span style="padding-left: 16px">最高價：' + max + '</span><br/>'
            + '<span style="padding-left: 16px">最低價：' + min + '</span>',
          };
        });

      const barView = this.chart.view({
        start: {
          x: 0,
          y: 0.65,
        },
      });
      barView.source(dv, {
        volumn: {
          tickCount: 3,
        },
      });
      barView.axis('time', {
        tickLine: null,
        label: null,
      });
      barView.axis('volumn', {
        label: {
          formatter: function(val) {
            return parseInt(val / 1000, 10) + 'k';
          },
        },
      });
      barView.interval()
        .position('time*volumn')
        .color('trend',  val => {
          if (val === '上漲') {
            return '#f04864';
          }

          if (val === '下跌') {
            return '#2fc25b';
          }
        })
        .tooltip('time*volumn', (time, volumn) => {
          return {
            name: time,
            value: `<br/><span style="padding-left: 16px">成交量：${volumn}</span><br/>`,
          };
        });
      this.chart.render();

      this.slider = new Slider({
        container: 'slider',
        width: 'auto',
        height: 26,
        padding: [ 20, 80, 20, 80 ],
        start: ds.state.start,
        end: ds.state.end,
        data,
        xAxis: 'time',
        yAxis: 'volumn',
        scales: {
          time: {
            type: 'timeCat',
            nice: false,
          },
        },
        onChange: ({startText, endText}) => {
          ds.setState('start', startText);
          ds.setState('end', endText);
        },
      });
      this.slider.render();
      /* eslint-enable */
    },
  },
};

</script>
