<template>
  <el-row :gutter="15">
    <el-col :span="4">
      <user-menu />
    </el-col>
    <el-col :span="20">
      <router-view />
    </el-col>
  </el-row>
</template>

<script>
import UserMenu from './UserMenu';

export default {
  components: { UserMenu },
};
</script>
