<template>
  <el-menu default-active="1">
    <router-link :to="{ name: 'trading-journal' }">
      <el-menu-item index="1">
        <i class="el-icon-document"></i>
        <span slot="title">交易日誌</span>
      </el-menu-item>
    </router-link>

    <router-link :to="{ name: 'selected-stocks' }">
      <el-menu-item index="2">
        <i class="el-icon-star-on"></i>
        <span slot="title">自選股票</span>
      </el-menu-item>
    </router-link>

    <router-link :to="{ name: 'settings' }">
      <el-menu-item index="3">
        <i class="el-icon-setting"></i>
        <span slot="title">設定</span>
      </el-menu-item>
    </router-link>
  </el-menu>

</template>

<script>
export default {
  data() {
    return {
      currentMenuClicked: 1,
      isCollapse: false,
    };
  },
};
</script>


<style lang="scss" scoped>
a {
  text-decoration: none;
}
</style>

