<template>
  <div>
    <el-row type="flex" class="user-header" justify="space-between">
      <el-col :span="6">
        <el-input placeholder="Find stocks"></el-input>
      </el-col>
      <el-col :span="6" class="user-header__right">
        <el-button type="primary" @click="addTradingJournal = true">New</el-button>
      </el-col>
    </el-row>

    <el-dialog title="新增交易日誌" :visible.sync="addTradingJournal">
      <el-form :model="tradingJournalForm">
        <el-form-item label="日期">
          <el-date-picker
            v-model="tradingJournalForm.date"
            type="date"
            placeholder="選擇日期"
            value-format="yyyy-MM-dd">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="股票號碼">
          <el-input placeholder="股票號碼"></el-input>
        </el-form-item>
        <el-form-item label="買進價格">
          <el-input placeholder="買進價格"></el-input>
        </el-form-item>
        <el-form-item label="賣出價格">
          <el-input placeholder="賣出價格"></el-input>
        </el-form-item>
        <el-form-item label="停損價格">
          <el-input placeholder="停損價格"></el-input>
        </el-form-item>
        <el-form-item label="Hasgtags">
          <el-input placeholder="tags"></el-input>
        </el-form-item>
        <el-form-item label="備註與標記">
          <el-input
            type="textarea"
            autosize
            placeholder="備註與標記">
          </el-input>
        </el-form-item>
      </el-form>
      <div slot="footer">
        <el-button @click="addTradingJournal = false">取 消</el-button>
        <el-button type="primary" @click="addTradingJournal = false">確 定</el-button>
      </div>
    </el-dialog>
    
    <el-table
      :data="tradingJournalData"
      height="400"
      border>
      <el-table-column
        prop="date"
        label="日期">
      </el-table-column>
      <el-table-column
        prop="id"
        label="股票號碼">
      </el-table-column>
      <el-table-column
        prop="name"
        label="名稱">
      </el-table-column>
      <el-table-column
        prop="buy_price"
        label="買進價格">
      </el-table-column>
      <el-table-column
        prop="sell_price"
        label="賣出價格">
      </el-table-column>
      <el-table-column
        prop="stop_price"
        label="停損價格">
      </el-table-column>
      <el-table-column
        prop="notes"
        label="備註與筆記">
      </el-table-column>
      <el-table-column
        prop="tags"
        label="tags">
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import StockRxSelect from '../Shared/StockRxSelect';

export default {
  components: { StockRxSelect },
  data() {
    return {
      addTradingJournal: false,
      tradingJournalForm: {
        date: '',
        id: '',
        name: '',
        buy_price: 0.0,
        sell_price: 0.0,
        stop_price: 0.0,
        notes: '',
        tage: '',
      },
      tradingJournalData: [
        {
          date: '2017/12/31',
          id: '2317',
          name: '鴻海',
          buy_price: 90.0,
          sell_price: 100.5,
          stop_price: 85.0,
          notes: '海公公好棒棒',
          tags: '#foxconn #money',
        },
        {
          date: '2017/12/31',
          id: '2317',
          name: '鴻海',
          buy_price: 90.0,
          sell_price: 100.5,
          stop_price: 85.0,
          notes: '海公公好棒棒',
          tags: '#foxconn #money',
        },
        {
          date: '2017/12/31',
          id: '2317',
          name: '鴻海',
          buy_price: 90.0,
          sell_price: 100.5,
          stop_price: 85.0,
          notes: '海公公好棒棒',
          tags: '#foxconn #money',
        },
        {
          date: '2017/12/31',
          id: '2317',
          name: '鴻海',
          buy_price: 90.0,
          sell_price: 100.5,
          stop_price: 85.0,
          notes: '海公公好棒棒',
          tags: '#foxconn #money',
        },
        {
          date: '2017/12/31',
          id: '2317',
          name: '鴻海',
          buy_price: 90.0,
          sell_price: 100.5,
          stop_price: 85.0,
          notes: '海公公好棒棒',
          tags: '#foxconn #money',
        },
      ],
    };
  },
};
</script>


<style lang="scss" scoped>
.user-header {
  margin: 10px 0;

  &__right {
    text-align: right;
  }
}
</style>

