<template>
  <div>
    <el-row type="flex" class="user-header" justify="space-between">
      <el-col :span="6">
        <el-input placeholder="Find stocks"></el-input>
      </el-col>
      <el-col :span="6" class="user-header__right">
        <el-button type="primary" @click="addSelectdStocks = true">New</el-button>
      </el-col>
    </el-row>

    <el-dialog title="新增自選股票" :visible.sync="addSelectdStocks">
      <el-form>
        <el-form-item label="股票號碼">
          <el-input placeholder="股票號碼"></el-input>
        </el-form-item>
        <el-form-item label="備註與標記">
          <el-input
            type="textarea"
            autosize
            placeholder="備註與標記">
          </el-input>
        </el-form-item>
      </el-form>
      <div slot="footer">
        <el-button @click="addSelectdStocks = false">取 消</el-button>
        <el-button type="primary" @click="addSelectdStocks = false">確 定</el-button>
      </div>
    </el-dialog>
    
    <el-table
      :data="userSelectedStocks"
      height="400"
      border>
      <el-table-column
        prop="id"
        label="股票號碼">
      </el-table-column>
      <el-table-column
        label="名稱">
      </el-table-column>
      <el-table-column
        label="漲跌">
      </el-table-column>
      <el-table-column
        label="日期">
      </el-table-column>
      <el-table-column
        label="開盤價">
      </el-table-column>
      <el-table-column
        label="收盤價">
      </el-table-column>
      <el-table-column
        label="最高價">
      </el-table-column>
      <el-table-column
        label="最低價">
      </el-table-column>
      <el-table-column
        label="成交量">
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import * as userService from '../../services/userHelper';
import StockRxSelect from '../Shared/StockRxSelect';

export default {
  components: { StockRxSelect },
  data() {
    return {
      addSelectdStocks: false,
      selectedStock: '',
    };
  },
  computed: {
    ...mapState('userInfo', {
      userSelectedStocks: state => state.selectedStocks,
    }),
  },
  mounted() {
    const userName = 'jyunhanlin';
    this.getSelectedStocks(userName);
  },
  methods: {
    ...mapActions('userInfo', [
      'getSelectedStocks',
    ]),
    rxSelectedStock(value) {
      this.selectedStock = value;
    },
    addStock() {
      userService.addUserSelectedStocks('jyunhanlin', this.selectedStock)
        .then(() => {
          this.getSelectedStocks('jyunhanlin');
        });
      this.addStockButton = false;
    },
  },
};
</script>


<style lang="scss" scoped>
.user-header {
  margin: 10px 0;

  &__right {
    text-align: right;
  }
}
</style>
