<template>
  <el-form-item label="Stock Number" prop="selectedStock">
    <i :class="{'el-icon-loading': isLoading}" class="stock-loading"></i>
    <el-input
      style="width: 100%;"
      type="text"
      placeholder="eg: 2317 or 中華電"
      v-model="stockNum"
      @focus="showQueryStocks=true"
      @blur="showQueryStocks=false"
      @keyup.esc="showQueryStocks=false">
    </el-input>
    <span v-show="!showQueryStocks && selectedStock !== ''" class="stock-text">{{selectedStock}}</span>
    <ul v-show="!isLoading && showQueryStocks && checkStockNum() !== 0" class="stock-content">
      <li v-for="stock in stocks" :key="stock.num" @mousedown="stockNumHandler(stock)">
      <span>{{`${stock.num} - ${stock.name}`}}</span>
      </li>
    </ul>
  </el-form-item>
</template>

<script>
import { stockNum } from '../../services/stockHelper';

export default {
  data() {
    return {
      stocks: [],
      isLoading: false,
      showQueryStocks: false,
      selectedStock: '',
      stockNum: '',
    };
  },
  methods: {
    stockNumHandler(stock) {
      this.selectedStock = `${stock.num} - ${stock.name}`;
      this.showQueryStocks = false;
      this.$emit('select', stock.num);
    },
    checkStockNum() {
      if (this.stocks !== undefined) {
        return this.stocks.length;
      }
      return 0;
    },
  },
  subscriptions() {
    return {
      stocks: this.$watchAsObservable('stockNum')
        .pluck('newValue')
        .debounceTime(300)
        .do(() => { this.isLoading = true; })
        .distinctUntilChanged()
        .switchMap((queryText) => {
          if (queryText === '') {
            return stockNum('none');
          }
          return stockNum(queryText);
        })
        .map(({ data }) => {
          this.isLoading = false;
          return data;
        }),
    };
  },
};
</script>

<style lang="scss" scoped>

.stock-loading {
  position: absolute;
  right: 10pt;
  top: 10pt;
  z-index: 10;
}
.stock-text {
  color: #606266;
  position: absolute;
  font-size: 14px;
  top: 1pt;
  left: 12pt;
  pointer-events: none;
  background-color: white;
  height: 30px;
  // font-weight: 440;
}

.stock-content {
  font-size: 14px;
  background-color: white;
  width: 100%;
  border: 1pt solid #b5b5b5;
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
  border-radius: 5pt;
  position: absolute;
  top: 2.8em;
  left: 0;
  z-index: 8;
  max-height: 150pt;
  overflow-y: auto;
  margin: 0;
  padding-left:0;
  list-style: none;

  li {
    padding-left: 12pt;
    &:hover {
      background-color: #f5f7fa;
      color: #409eff;
      cursor: pointer;
    }
  }
}
</style>