<template>
  <div>
    <el-menu
      :default-active="activeIndex"
      mode="horizontal"
      :router="true">
      <el-menu-item index="/analysis">
        Analysis
      </el-menu-item>
      <el-menu-item index="/user">
        User
      </el-menu-item>
      <el-menu-item index="/dashboard">
        Dashboard
      </el-menu-item>
    </el-menu>
    <div class="stock-body">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      activeIndex: '/analysis',
      menuOpen: false,
    };
  },
};
</script>

<style lang="scss" scoped>
.stock-body {
  padding: 1rem;
}
</style>
