<template>
  <el-card class="box-card">
    <div slot="header" class="clearfix">
      <span>Add stock to DB</span>
    </div>
    <el-form label-position="top">
      <stock-rx-select @select="rxSelectedStock" />
      <el-form-item label="DataBase">
        <el-select v-model="selectedDB" placeholder="select db" style="width: 100%;">
          <el-option label="stock-koa" value="stock-koa"></el-option>
          <el-option label="stock-broker" value="stock-borker"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary">Submit</el-button>
      </el-form-item>
    </el-form>
  </el-card>
</template>

<script>
import StockRxSelect from '../Shared/StockRxSelect';

export default {
  components: { StockRxSelect },
  data() {
    return {
      selectedDB: '',
      selectedStock: '',
    };
  },
  methods: {
    rxSelectedStock(value) {
      this.selectedStock = value;
    },
  },
};
</script>
