<template>
  <el-row :gutter="15">
    <el-col :span="8">
      <dashboard-add-stock />
      <dashboard-db-info />
    </el-col>
    <el-col :span="16">
      <dashboard-list-stocks />
    </el-col>
  </el-row>
</template>

<script>
import DashboardAddStock from './DashboardAddStock';
import DashboardDbInfo from './DashboardDbInfo';
import DashboardListStocks from './DashboardListStocks';

export default {
  components: {
    DashboardAddStock,
    DashboardDbInfo,
    DashboardListStocks,
  },
};
</script>

