<template>
  <el-card>
    <div slot="header">
      <span>DB status</span>
    </div>
    <el-card class="box-card">
      <div slot="header">
        <div>Stock Koa</div>
        <small>https://stock-koa.firebaseio.com</small>
      </div>

      <span>DB usage</span>
      <el-progress :text-inside="true" :stroke-width="18" :percentage="70"></el-progress>
    </el-card>
    <el-card class="box-card">
      <div slot="header">
        <div>Stock Broker</div>
        <small>https://stock-broker.firebaseio.com</small>
      </div>
      <span>DB usage</span>
      <el-progress :text-inside="true" :stroke-width="18" :percentage="70"></el-progress>
    </el-card>
  </el-card>
</template>
